/* Admin heading */
.adminHeading{
    text-align: center;
    /* margin : 0 auto; */
    margin-bottom: 50px;

    /* border: solid;
    border-width: 1px;
    border-color: black;  */
}
.country-tab-big-wrapper{

    margin-left: 33%;

   
    /* border: solid;
    border-width: 1px;
    border-color: black; */


}
.country-tab-wrapper{


}
.country-tab{
    /* border: solid;
    border-width: 1px;
    border-color: black; */
    
}
/* List boxes wrapper */
.listboxesAndFormWrapper{
    text-align: center;
    /* position: relative;
    left: -15%; */
    /* margin-left: -10%; */
    margin-bottom: 5px;



    /* border: solid;
    border-width: 1px;
    border-color: black; */
}
/* List boxes */
.listbox{
    /* margin-left: 30px; */
    vertical-align: top;
    display: inline-block;

    
    /* border: solid;
    border-width: 1px;
    border-color: black;  */
}
/* Establishments heading */
#headingLstBoxEstablishments{

    border: solid;
    border-width: 1px;
    border-color: black; 

    margin-bottom: -10px;
}
/* Search establishment table */
.search-establishment-table{
    border: solid;
    border-width: 1px;
    border-color: black; 
    border-top:none;
}
/* Specials heading */
.specials-heading{
    border: solid;
    border-width: 1px;
    border-color: black; 
}
#specialListBox{
    width: 250px;
    height: 475px;

    border: solid;
    border-width: 1px;
    border-color: black;  
    border-top: none;

}
/* Display specials form */
#displaySpecialsForm{
    /* position: relative;
    top: -400px;
    left: 350px; */
    display: inline-block;
    vertical-align: top;
    height: 499px;

/* margin-left: 35%; */
/* position: relative;
left: 100px; */
    
    width: 500px;
    
    border: solid;
    border-width: 1px;
    border-color: black;  

    /* text-align: center; */
    /* display: inline-block; */

    /* margin: auto; */
    

    /* left: 80%;  */
    

    
}
/* The special details form */
#formSpecialDetails{
    /* vertical-align: bottom; */
}

.admin-input{
     /* border: solid;
    border-width: 1px;
    border-color: black;  */

    /* width: 500px; */

    position: relative;
    margin-bottom: -27px;
    
}

.label1{
    /* width: 500px; */
    font-size: 30px;
   

}
#displayNumFound{
    border: solid;
    border-width: 1px;
    border-color: black; 
}

/* Add special sub heading */
.addSpecialSubHeading{
    text-align: center;
    margin-bottom: 40px;
}
/* Add To Existing Establishment input */
#addToExistingEstablishment{

}
/* add-special-to-existing-establishment */
.add-special-to-existing-establishment{
    margin-bottom: 0px;
    /* border: solid;
    border-width: 1px;
    border-color: black;  */
}
/* Or create a new establishment */
.or{
    text-align: center;
    /* margin-top: -21px; */
    position: relative;
    top: -15px;
    font-size: 20px;
}
/* Add to establishment */
#checkBoxAddToEstablishment{
    position: relative;
    margin-top: 20px;
    margin-left: -10px;

    display: inline-block;

    /* border: solid;
    border-width: 1px;
    border-color: black;  */
}
/* Add - Days of week select */
#add_days_of_the_week{

}
/* Admin Search*/
.adminSearch{
    text-align: center;
    margin-bottom: 40px;

    font-size: 20px;
    
}
/* Search establishment ID */
#searchEstablishmentID{
    width: 200px;
}
/* Search special ID */
#searchSpecialID{
    width: 200px;
}
/* Search address */
#searchAddress{
    width: 200px;
}
/* Search name */
#searchName{
    width: 200px;
}
.modal-admin{
    zoom: 80%;
    /* height: 100%; */

    /* overflow: visible */
}

/* Modal update */
.modal-update{
    overflow: visible;
}

/* Modal add */
.modal-add{
    max-height: 85% !important;
    /* overflow: visible; */
    margin-top: -75px;
}

#update_cusine_type{
    /* height: 100%; */
    /* max-height: 100% !important */
    max-height: 250px !important;
    overflow-y: auto !important;
    backface-visibility: hidden !important;
    overflow: auto;
}

#add_cusine_type{
    height: 50px;
}

.modal {
    /* height: 100%; */
    /* overflow: visible */
    /* max-height: 100% !important */
} 

/* Table wrapper */
.tbl-wrapper{
    vertical-align: top;
}


/* Table */
#tbl{
    position: relative;
    top: -30px;
    overflow-y:scroll;
    height:410px;
    display:block;

    width: 500px;
    
    border: 1px solid black;
}

table#tbl {
    border-collapse: collapse;   
}
#tbl tr {
    background-color: #eee; /* #eee */
    border-top: 1px solid #fff;
}
#tbl tr:hover {
    background-color: #ccc;
}
#tbl th { /* #tbl th */
    background-color: #fff;
}
#tbl th, #tbl td {
    padding: 3px 5px;
    width: 400px; /* Maybe delete */
}
#tbl td:hover {
    cursor: pointer;
}
.selected {
    /* background: blue; */
    color: #e54545;
    font-weight: 400;
  }

