/* Admin heading */
.adminHeading{
    /* text-align: center; */
    position: relative;
    left: 10%;
    width: 500px;
    /* margin : 0 auto; */
    margin-top: 50px;
    margin-bottom: 50px;

    /* border: solid;
    border-width: 1px;
    border-color: black; */
}
.country-tab-big-wrapper{

    margin-left: 33%;



    /* border: solid;
    border-width: 1px;
    border-color: black; */


}
.country-tab-wrapper{


}
.country-tab{
    /* border: solid;
    border-width: 1px;
    border-color: black; */
    background-color: #f4f4f4;

}
/* List boxes wrapper */
.listboxesAndFormWrapper{
    text-align: center;
    /* position: relative;
    left: -15%; */
    /* margin-left: -10%; */
    /* background-color: white; */



    /* border: solid;
    border-width: 1px;
    border-color: black; */
}
/* List boxes */
.listbox{
    /* margin-left: 30px; */
    vertical-align: top;
    display: inline-block;
    background-color: white;




    /* border: solid;
    border-width: 1px;
    border-color: black;  */
}
/* Establishments heading */
#headingLstBoxEstablishments{

    border: solid;
    border-width: 1px;
    border-color: #e7e7e7;
    background-color: #f3f5f6;

    margin-bottom: -10px;
}
/* Search establishment table */
.search-establishment-table{
    border: solid;
    border-width: 1px;
    border-color: #e7e7e7;
    border-top:none;
}
/* Specials heading */
.specials-heading{
    border: solid;
    border-width: 1px;
    border-color: #e7e7e7;
    background-color: #f3f5f6;
}
#specialListBox{
    width: 300px;
    height: 500px;

    border: solid;
    border-width: 1px;
    border-color: #e7e7e7;
    border-top: none;

}
/* Display form heading */
/* #formHeading{
    border: solid;
    border-width: 1px;
    border-color: #e7e7e7;
    background-color: #f3f5f6;
} */
/* Display specials form */
#displaySpecialsForm{
    /* position: relative;
    top: -400px;
    left: 350px; */
    display: inline-block;
    vertical-align: top;
    height: 524px;
    background-color: white;

/* margin-left: 35%; */
/* position: relative;
left: 100px; */

    width: 500px;

    border: solid;
    border-width: 1px;
    border-color: #e7e7e7;

    /* text-align: center; */
    /* display: inline-block; */

    /* margin: auto; */


    /* left: 80%;  */



}
/* The special details form */
#formSpecialDetails{
    /* vertical-align: bottom; */
}
/* Description text area */
.description{
    /* background-color: lightblue; */
    text-align: left;
    width: 475px !important;
    max-height: 60px !important;
    overflow: auto;
}
/* Description text area  for text */
/* .description-full-text{
    display: none;
} */

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }

.tooltip:hover .tooltiptext {
    visibility: visible;
  }

.admin-input{
     /* border: solid;
    border-width: 1px;
    border-color: black;  */

    /* width: 500px; */

    position: relative;
    margin-bottom: -5px;
    /* -27px; */

}

/* .validate-text{ */
    /* color: #989ea9 !important; */
    /* font-family: "Open Sans", sans-serif !important; */
    /* font-family: "Open Sans", sans-serif !important; */
/* } */
.label1{
    /* width: 500px; */
    font-size: 30px;

    margin-top: 8px;

    /* border: solid;
    border-width: 1px;
    border-color: black;  */


}
#displayNumFound{
    border: solid;
    border-width: 1px;
    border-color: black;
}

/* Add special sub heading */
.addSpecialSubHeading{
    text-align: center;
    margin-bottom: 40px;
}
/* Add To Existing Establishment input */
#addToExistingEstablishment{

}
/* add-special-to-existing-establishment */
.add-special-to-existing-establishment{
    margin-bottom: 0px;
    /* border: solid;
    border-width: 1px;
    border-color: black;  */
}
/* Or create a new establishment */
.or{
    text-align: center;
    /* margin-top: -21px; */
    position: relative;
    top: -15px;
    font-size: 20px;
}
/* Add to establishment */
#checkBoxAddToEstablishment{
    position: relative;
    margin-top: 20px;
    margin-left: -10px;

    display: inline-block;

    /* border: solid;
    border-width: 1px;
    border-color: black;  */
}
/* Add - Days of week select */
#add_days_of_the_week{

}
/* Admin Search*/
.adminSearch{
    text-align: center;
    margin-bottom: 40px;

    font-size: 20px;

}
/* Search establishment ID */
#searchEstablishmentID{
    width: 200px;
}
/* Search special ID */
#searchSpecialID{
    width: 200px;
}
/* Search address */
#searchAddress{
    width: 200px;
}
/* Search name */
#searchName{
    width: 200px;
}
.modal-admin{
    zoom: 80%;
    /* height: 100%; */

    /* overflow: visible */
}

/* Modal update */
.modal-update{
    /* overflow: visible; */
    /* max-height: 100% !important; */
}

/* Modal add */
.modal-add{
    max-height: 90% !important;
    /* overflow: visible; */
    margin-top: -75px;
}

#update_cusine_type{
    /* height: 100%; */
    /* max-height: 100% !important */
    max-height: 250px !important;
    overflow-y: auto !important;
    backface-visibility: hidden !important;
    overflow: auto;
}

#add_cusine_type{
    height: 50px;
}

.modal {
    /* height: 100%; */
    /* overflow: visible */
    /* max-height: 100% !important */
}

/*color row even*/
/* table.striped>tbody>tr:nth-child(even) {
    background-color: #78909C;
     color: black;
} */

/*color row odd*/
table.striped>tbody>tr:nth-child(odd) {
    background-color: #f8f8f8;
    /* #e4e4e4; */
    color: black;
}

/* Table wrapper */
.tbl-wrapper{
    vertical-align: top;
}


/* Table */
#tbl{
    position: relative;
    top: 20px;
    left: 10%;

    height:440px;
    margin-bottom: -35px;
    display:block;

    width: 1500px;
    /* width: 80%;  */

    border: 1px solid #e7e7e7;
    background-color: #fff;
    overflow-y:scroll;
}

table#tbl {
    border-collapse: collapse;

}
#tbl tr {
    /*background-color: #eee;*/ /* #eee */
    border-top: 1px solid #fff;
}
#tbl tr:hover {
    /* background-color: #ccc; */
}
#tbl th { /* #tbl th */
    background-color: #fff;
}
#tbl th, #tbl td {
    padding: 3px 10px;
    width: 400px;
    /* Maybe delete  maybe replace with it's own ids*/
}
#tbl td:hover {
    /* cursor: pointer; */
}
.tbl-email{
    width: 20%;
    /* border: solid;
    border-width: 1px;
    border-color: black;  */
}
.tbl-status{
    width: 60%;
    /* border: solid;
    border-width: 1px;
    border-color: black;  */
}
.tbl-update{
    text-align: right;
    /* padding-left: -20px; */
    /* position: relative;
    left: -285px; */
    width: 10%;
    position: relative;
    left: -3px;
    /* border: solid;
    border-width: 1px;
    border-color: black;  */

}
.tbl-delete{
    text-align: right;
    /* padding-left: -20px; */
    /* position: relative;
    left: -285px; */
    width: 10%;
    position: relative;
    left: -8px;
    /* border: solid;
    border-width: 1px;
    border-color: black;  */

}
.selected-row {
    /* background: blue; */
    color: black;
    font-weight: 700;
}

/* Working animation */
.workingAnim {
  position: fixed;
  left: 48.4%;
  top: 50%;
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #555555; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  display: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Working animation message */
#h5workingAnimMessage{
  position: fixed;
  left: 47.35%;
  top: 56%;
  display: none;
}

/* Toast container */
.toast-notification-con{
  /* display: inline-block; */
  /* height: 50px; */

    text-align: center;
    /* height: 55px; */
    margin-left: -17px;
    /* margin-right: -25px; */
    /* margin-right: -25px; */
    /* max-height: 1000px; */
    /* max-width: 355px; */

    /* border: solid;
    border-width: 1px;
    border-color: black;  */
    z-index: 501;
}
/* Toast tick */
.toast-tick{

    /* border: solid;
    border-width: 1px;
    border-color: black;  */
    display: inline-block;
   /* display: inline-block; */
    margin-right: 12px;
    margin-top: 10px;

    height: 30px;
    width: 30px;
  /* margin-left: -17px;  */
  /* margin-top: 20px; */
  /* margin-bottom: 20px; */
  /* z-index: 100; */
  z-index: 501;
}

/* Toast error */
.toast-error{
    /* border: solid;
    border-width: 1px;
    border-color: black;  */
    display: inline-block;
   /* display: inline-block; */
    margin-right: 12px;
    margin-top: 5px;

    height: 30px;
    width: 30px;
    /* margin-left: -17px;  */
    /* margin-top: 20px; */
    /* margin-bottom: 20px; */
    /* z-index: 100; */
    z-index: 501;
}

/* Toast Close */
.toast-close{
    position: absolute;
    float: right;
    /* top: 5px;
    left: 278px; */
    /* border: solid;
    border-width: 1px;
    border-color: black;  */
    opacity: 50%;
}

.toast-message{
  /* border: solid;
  border-width: 1px;
  border-color: black;  */
  display: inline-block;
  vertical-align: top;
  text-align: left;
  max-width: 255px;
  /* max-height: 1000px; */
  /* max-height: 1000px; */
  z-index: 501;
}

.toast-side{

    position: absolute;
    left: 45px;
    top: 0px;
    /* background-color: red; */
    /* height: 100px; */
    width: 45px;
    margin-left: -45px;
    height: 100%;


    z-index: 500;

    /* border: solid;
    border-width: 1px;
    border-color: black;  */

}

/* #toast-container .toast {
    cursor: pointer;
}
#toast-container .toast::after {
    font-family: 'Material Icons';
    content: "close";
    -webkit-font-feature-settings: 'liga';
    color: #dd2c00;
    font-size: 1.5rem;
    font-weight: 300;
    float: right;
    padding-left: 3rem;
} */


/* tooltip */
.material-tooltip {
  padding: 10px 8px;
  font-size: 1rem;
  z-index: 2000;
  background-color: transparent;
  border-radius: 2px;
  color: #fff;
  min-height: 36px;
  line-height: 120%;
  opacity: 0;
  position: absolute;
  text-align: center;
  max-width: calc(20% - 4px);
  overflow: hidden;
  left: 0;
  top: 0;
  pointer-events: none;
  visibility: hidden;
  background-color: #323232;
  /* font-family: "Roboto Mono"; */
  font-size: 0.8em;
  font-weight: 700;
}

/* Crud buttons */
.crud-buttons{
vertical-align: bottom;
}
/* Image wrapper */
.image-wrapper{
    text-align: center;
    /* margin-top: -20px; */

    border: solid;
    border-width: 1px;
    border-color: black;
}
/* Image Debug */
.image-debug{
    /* text-align: center; */
    display: inline-block;
    /* margin-left: 50%; */
    /* position: relative; */
    width: 70px;

    margin-top: -10px;
    margin-bottom: -7px;
    /* border: solid;
    border-width: 1px;
    border-color: black;    */


    /* border: solid;
    border-width: 1px;
    border-color: black;     */
}
/* Update Image Debug */
.update-image-wrapper{
    /* margin: auto;*/
    /* width: 70px; */
    margin-top: -20px;


}
/* Update Image */
#updateimage{
    margin: auto;
    /* margin-left: -2%; */
    width: 70px;
    height: 70px;
}
/* Update image file name */
#update-image-file-name{
    /* margin-left: -27%; */

}
/* Update file wrapper */
.update-file-wrapper{

}
#image-file-name{
    /* border: solid;
    border-width: 1px;
    border-color: black;    */
}
/* Image - display form*/
#image{
    width: 70px;
    height: 70px;
    /* text-align: center; */
    /* display: inline-block; */
}
/* CRUD Buttons */
.crud-btns{
     /* position: fixed; */
    /* bottom: 0;  */
/* margin-bottom: 2px;
    z-index: -10; */
    /* display: inline-block; */


        /* border: solid;
    border-width: 1px;
    border-color: black;    */
}

#displayEstablishmentandSpecial-form{
    /* border: solid;
    border-width: 1px;
    border-color: red;    */
}

/* NAV & SIDE NAV */
.nav-sidenav{
    background-color: #161a24;
}
/* NAV */
.logout-wrapper{
    margin-right: 10px;
    filter: gray !important; /* IE6-9 */
    -webkit-filter: grayscale(1) !important; /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1) !important; /* Microsoft Edge and Firefox 35+ */


}
.nav-logo{
    margin-top: 15px;
    margin-left: 135px;
    width: 136px;
    height: 49px;
}
.nav-logout-logo{
    position: relative;
    top: 3px;
    left: -7px;
}
/* SIDE NAV */
.main-section {
    padding-left: 150px;
  }
.sidenav{
    margin-top: 64px;
    width: 150px;
    margin-left: -15px;
}
.selected-sidenav{
    color: #4dbfea !important;
    text-shadow:1px 1px 10px #4dbfea, 1px 1px 10px #4dbfea;
}
/* Hover */
.sidenav sidenav-fixed nav-sidenav > li:hover {
    color: red !important;
}
/* .sidenav-fixed .nav-wrapper > ul > li:hover {
    background-color: #faa61a;
} */

/* Create */
.create{
    position: relative;
    left: 10%;

}
/* MODAL ADD */
.modal-content-add-admin-heading{
    padding: 49px 19px 19px 0px;
    border-bottom: 1px solid #e5e5e5;
}
.modal-add-admin-heading-message{
    position: relative;
    /* left: 50px; */
    margin-left: 35px;
    margin-top: -36px;
    color: black;
    font-size: 25px;
}
/* Footer Register button */
.modal-add-admin-confirm{
    /* position: relative;
    left: -20px; */
    border: solid;
    border-width: 1px;
    border-color: #749dc0;
    color: white;
    background-color: #337ab7;
}
/* Footer Cancel button */
.modal-add-admin-cancel{
    position: relative;
    left: -20px;
    background-color: white;
    border: solid;
    border-width: 1px;
    border-color: #cccccc; 
    
}
/* MODAL-DELETE */
/* Heading */
.modal-content-delete-admin-heading{
    background-color: #fc8181;
    padding: 19px 19px 19px 19px;
    border-bottom: 1px solid #db6f6f;
}
/* Heading message */
.modal-delete-admin-heading-message{
    position: relative;
    /* left: 50px; */
    margin-left: 35px;
    margin-top: -36px;
    color: white;
    font-size: 25px;
}
/* Message */
.modal-delete-admin-message{
    padding: 19px 19px 19px 19px;
}
/* Footer */
.modal-footer{
    background-color: 	#f4f4f4 !important;
    border-top: 1px solid #e5e5e5;
    /* border: solid;
    border-width: 1px;
    border-color: black; */
}
/* Footer Delete button */
.modal-delete-admin-confirm{
    position: relative;
    left: -20px;
    border: solid;
    border-width: 1px;
    border-color: #c9302c;
    color: white;
    background-color: #c9302c;
}
/* Footer Cancel button */
.modal-delete-admin-cancel{
    border: solid;
    border-width: 1px;
    border-color: #cccccc; 
    background-color: white;
}
body{
    background-color: #f4f4f4;
}
