body{
    font-family: Helvetica !important;
}
/* NAV BAR */
.nav-top{
    height: 120px;
    /* margin-bottom: 10px; */
    background-color: white;
}



/* Logo */
.brand-logo{
    position: relative;
    left: 75%;
    margin-top: 25px;
    /* margin-left: 75%; */
}
.logo-wrapper{
    position: relative;
    /* height: 110px; */
}
.nav-logo{
    /* height: 60px; */
    /* Use this when remove materilize nav */
    /* position: relative;
    left: 75%; */
    float: right;
    position: relative;
    left: -25%;
    
    margin-top: 20px;
    margin-bottom: 25px;


}
/* Main section */
#mainSection{
    /* border: solid;
    border-width: 1px;
    border-color: black; */
    max-width: 100%;
}

/* Heading */
.heading{
    /* position: relative;
    top: -20px; */
    /* clear: both; */
    
    /* Set a margin for the bottom for the outer div box */
    /* margin-bottom: 50px;  */
    height: 335px;

    text-align: center;

    /* border: solid;
    border-width: 1px;
    border-color: black; */
    background-color: #E63594;
}
/* Heading Img */
.main-message{
    /* width: 700px; */
    /* max-width: 100%; */
    /* width: 68.0%; */
    margin-top: 70px;
}
/* Search outer div */
#searchOuterDiv{
    margin: 0 auto;
    margin-top: 40px;

    height: 525px;
    width: 775px;
    /* Max width 660px etc? */

    /* border: solid; */
    background-color: #d9d9d9;
    
}
#lpSearchContents{
    /* margin-top: 10px; */
    /* position: relative;
    top: 10px; */

    /* border: solid;
    border-width: 1px;
    border-color: black; */
}
/* Input Search Suburb */
#inputSearchSuburb{
    /* position: relative;
    top: 10px; */
    /* Set a margin for the bottom of the input search for the procedding button 
    Note: some reason doesn't work, so put margin on image instead  */
    position: relative;
    top: 135px;
    left: -70px;
    text-align:center;
    
    /* Center */
    /* margin : 0 auto; */
    /* Moves search mangnifying glass */
    /* display: block; */

    height: 135px;
    width: 567px;
    /* Max width 500px etc? */


    /* padding-left: 200px; */
    background-color: white;
    color: #888F91;
    font-size: 30px;
    font-weight: bold;
    font-family: Helvetica !important;
}
/* Position placeholder */
::-webkit-input-placeholder {
    text-align: center;
    color: #888F91;
    /* color: #888F91;
    font-size: 30px;
    font-weight: bold; */
 }
 
 :-moz-placeholder { /* Firefox 18- */
    text-align: center;  
    color: #888F91;
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
    color: #888F91;
 }
 
 :-ms-input-placeholder {  
    text-align: center; 
    color: #888F91;
 }
/* Remove placeholder on focus */
 input:focus::placeholder {
    color: transparent;
  }
 /* label focus color */
 .input-field input[type=text]:focus + label {
    color: #E63594 !important;
    /* #EAE02D */
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #E63594 !important;
    box-shadow: 0 1px 0 0 #E63594 !important;
  }


/* Input img magnifying glass */
#imgMagnifyingGlass{
    position: relative;
    float: right;
    /* left: 400px; */
    top:-24px; 
    left: -47px;
    /* Set a margin for the bottom for the search button */


    /* width: 127px; */

    /* Disable pointer/click through image */
    /* pointer-events: none; */
}
/* Search button */
#searchButton{
    position: relative;
    top: 40px;
    left: 34px;
    /* Center */
    /* margin:auto; */
    /* display:block; */
    float: left;
    /* display: inline-block; */

    height: 135px;
    width: 695px;
    /* Max width 660px etc? */
    cursor: pointer;

    border: 0; 
    outline:none;
    -webkit-appearance: none;

    font-size: 40px;
    font-weight: bold;

    color: white;
    background-color: #E63594;
    font-family: Helvetica !important;
}