/* Reset page defaults */
html,
body {
  margin: 0;
  padding: 0;
}

/* Nav */
.nav {
  height: 60px;
  position: fixed;
  top: 0;

  width: 100%;

  /* margin-bottom: 15px; */

  background-color: #eef2f5;

  /* Bottom border shadow */
  -webkit-box-shadow: 0px 1px 1px #bdbcbd;
  -moz-box-shadow: 0px 1px 1px #bdbcbd;
  box-shadow: 0px 1px 1px #bdbcbd;
}

/* Logo */
.logo {
  max-width: 100%;
  max-height: 100%;

  margin-left: 50px;
}

/* Email and logout button wrapper */
.email-logout-wrapper {
  float: right;
  border: solid black 1px;
  /* height: 45px; */
  /* height: 100%; */
  /* line-height: 50px; */

  /* Vertically align */
  margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  margin-right: 2%;
}

/* User's email */
#users_email {
  float: right;
  position: relative;
  top: 45%;

  margin-right: 15px;

  font-size: 100%;
}

/* Logout Button */
.logout-btn {
  float: right;
  position: relative;
  top: 40%;

  margin-right: 30px;

  border: none;
  color: white;

  padding: 5px 7px 5px 7px;
  text-align: center;
  text-decoration: none;

  font-size: 100%;
  border-radius: 10px;

  background-color: lightcoral;
}

/* Center */
.center {
  text-align: center;
}

/* The user inputs section */
.user-inputs-sec {
  margin-bottom: 20px;
  margin-top: 100px;
}

/* Add item and shop buttons */
/* .addBtns {
  margin-bottom: 20px;
  margin-top: 100px;
} */

/* Table Outter Wrapper */
.tbl-outter-wrapper {
  border: 1px black solid;
  margin: auto;
  width: 80%;
  display: block;
}

/* Table */
.tbl-wrapper {
  border: 1px black solid;
  /* margin: auto;
    width: 40% */
  /* width: 60%; */
  margin: auto;
  width: 85%;
  /* display: inline-block; */

  /* position: relative; */
}

/* Item collumn */
.tbl-item {
  /* width: 20%; */
}

/* Shop collumn */
.tbl-shop {
  /* width: 80%; */
}

.tbl-item-th {
  width: 25%;
}

.tbl-shop-th {
  /* width: 75%;  */
}

table {
  /* position: relative;
  top: 200px; */
  /* position: sticky;
  top: 200px; */

  /* z-index: -3; */

  font-family: arial, sans-serif;
  border-collapse: collapse;
  /* width: 95%; */
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
  /* display:inline-block; */
  /* empty-cells: hide; */
  /* overflow: hidden;
    white-space: nowrap; */
}

td,
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
  /* display:inline-block;
    min-width: 1%; */
  /* width: 50%; */
  /* border-right: black 1px solid; */
  overflow: hidden;
  white-space: nowrap;
}

tr:nth-child(even) {
  /* background-color: #dddddd; */
  background-color: #e9e9e9;
}

tbody > tr > :nth-child(1) {
  color: black;
  /* background-color: rgb(202, 202, 202); */
  background-color: white;
  font-weight: bold;
}

tr:first-child td {
  font-weight: bold;
}

.add-row-btn {
  /* margin-right: 100px; */
  /* margin-left: 50%; */
  /* display: block; */
  /* margin: auto; */
  /* margin-left: 44%; */
  margin-left: 16%;
}

.add-column-btn {
  /* position: relative;
    left: 80px; */
  /* margin-left: 17%; */
  /* position: absolute;
    left: 200px; */
  /* margin-left: 70%; */
  /* margin-left: 27%; */
  float: right;
}

/* Category Heading Button */
.catHdingBtn {
  float: right;
}

/* No shop or item has been added */
#noShopItemAdded {
  text-align: center;
}

/* 320 */
@media only screen and (min-width: 0px) and (max-width: 360px) {
  .nav {
    height: 40px;
  }

  .logo {
    margin-left: 10px;
  }

  /* User's email */
  #users_email {
    top: 55%;
    margin-right: 5px;
    font-size: 55%;
  }

  .logout-btn {
    top: 40%;
    margin-right: 2%;

    font-size: 10px;
  }

  .user-inputs-sec {
    margin-top: 70px;
  }

  .inputs {
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;

    width: 55vw;
  }

  .addBtns {
    /* margin-left: 10px; */
    font-size: 60%;
    float: left;
    margin-left: 10px;
  }

  table {
    font-size: 60%;
  }

  .catHdingBtn {
    font-size: 60%;
  }
}

/* 360-384 */
@media only screen and (min-width: 360px) and (max-width: 384px) {

  .nav {
    height: 40px;
  }

  .logo {
    margin-left: 10px;
  }

  /* User's email */
  #users_email {
    top: 55%;
    margin-right: 5px;
    font-size: 55%;
  }

  .logout-btn {
    top: 40%;
    margin-right: 2%;

    font-size: 10px;
  }

  .user-inputs-sec {
    margin-top: 70px;
  }

  .inputs {
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;

    width: 55vw;
  }

  .addBtns {
    /* margin-left: 10px; */
    font-size: 60%;
    float: left;
    margin-left: 10px;
  }

  table {
    font-size: 60%;
  }

  .catHdingBtn {
    font-size: 60%;
  }
}
